/* Variables */

:root {
  --body-color: white;
  --body-background: rgb(0,35,102);
  --body-font-family: Ubuntu;
  --body-scrollbar-color: dark;

  --a-color: white;
  --a-text-decoration-color: #09c5f4;

  --code-color: white;
  --code-background: rgba(0,0,0,0.25);
  --code-font-family: 'Oxygen Mono';

  --nav-color: black;
  --nav-background: rgba(255,255,255,0.75);

  --details-background: rgba(0,0,0,0.25);
  --details-padding: .75em;

  --mark-color: black;
  --mark-background: rgb(239,219,67);

  --table-max-width: 500px;
}

/* Body */

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font-family), sans-serif;
  color: var(--body-color);
  background: var(--body-background);
  scrollbar-color: var(--body-scrollbar-color);
  line-height: 1.5
  text-rendering: optimizeLegibility;
}

body > div {
  margin: 50px 10vw  50px 10vw;
}

@media (max-width: 960px) {
  body > div {
    margin: 50px 5vw 50px 5vw;
  }
}

body > * {
  margin-left: 10vw;
  margin-right: 10vw;
}

@media (max-width: 960px) {
  body > * {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

/* Text */

h1, h2, h3, h4, h5, h6 {}

code {
  user-select: all;
  background:  var(--code-background);
  color: var(--code-color);
  font-size: 1em;
  font-family: var(--code-font-family), monospace;
  padding: 0.5em;
  border-radius: 5px;
  display: inline-block;
}

a {
  color: var(--a-color);
  scroll-behavior: smooth;
  text-decoration: underline;
  text-decoration-color: var(--a-text-decoration-color);
  text-decoration-skip: edges;
  text-decoration-skip-ink: auto;
}

textarea {
  resize: none;
}

details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--details-background);
  padding: var(--details-padding) var(--details-padding) 0;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  overflow: hidden;
}
details[open] {
  padding: var(--details-padding)
}

details > :last-child {
  margin-bottom: 0;
}

details[open] summary {
  margin-bottom: 10px;
}

summary {
  display: list-item;
  padding: var(--details-padding);
  margin: calc(-1 * var(--details-padding)) calc(-1 * var(--details-padding)) 0;
}

details > :not(summary) {
  margin-top: 0;
}

mark {
  background: var(--mark-background);
  color: var(--mark-color);
  border-radius: 2.5px;
  display: inline-block;
  padding: 0.15em;
}

table {
  border-collapse: separate;
  border: 1px solid white;
  border-spacing: 0;
  border-radius: 2.5px;
  width: 100%;
  max-width: var(--table-max-width);
}

td, th {
  border: 1px solid white;
  text-align: left;
  padding: 0.5em;
}

/* Navigation */
nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;﻿
  height: 30px;
  width: 100%;
  color: var(--nav-color);
  background: var(--nav-background);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-right: 0;
}

nav * {
  color: var(--nav-color);
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

/* Images */

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Forms */

fieldset {
  border-radius: 5px;
  border: 1px solid white;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding: 1em;
}

/* Animations */

details[open] summary ~ * {
  animation: sweep 0.025s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-top: -10px; margin-bottom: 10px;}
  90%   {opacity: 1; margin-top: -1px; margin-bottom: 1px;}
  100%  {opacity: 1; margin-top: 0px; margin-bottom: 0;}
}
